html{
  background-color:#E0E0E0;
}

body {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

table {
  border-collapse: collapse;
}

.canvas td { 
  background-color:#fff;
  position: relative;
  margin: 0;
  border: 1px solid grey;
  padding: 5px;
}

.colors td {
  background-color:#fff;
  position: relative;
  margin: 0;
  border: 1px solid grey;
  padding: 25px;
}

#black {
  background-color: black;
}

#brown {
  background-color: brown;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#white {
  background-color: white;
}